.main-content {
    max-width: 800px;
    margin: 0px auto;

    .flexBox {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        .item {
            min-height: 200px;
            flex-basis: 120px;
            flex-grow: 1;
            border: 1px solid red;
        }
    }
}